@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Ubuntu+Condensed&family=Ubuntu+Mono&family=Ubuntu:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background: #dad3f8;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 950px;
    width: 100%;
    background: #fff;
    padding: 40px 50px 40px 40px;
    border-radius: 12px;
    margin: 0 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .main-title{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.container .content ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}


.container .content ul .disp{
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    background: red;
    width: 20%;
    border-radius: 12px;
    line-height: 60px;
    margin: 5px 0;
    padding-left: 25px;
    color: #333;
}

.container .content ul .disp p{
    text-transform: capitalize;
    margin-left: 5px;
}










